.jumbotron * {
  padding-left: 10%;
  color: white;
}

.jumbotron {
  background-color: #2b3e5e;
}

.container-fluid {
  margin-left: 10%;
  margin-right: 10%;
}

#submit-button {
  margin: auto;
  height: 50px;
  width: 200px;
}

.course-row {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}

.add-section-button, .delete-course-button, .delete-section-button {
  margin:0;
  padding:0;
}

.form-control {
  display: inline;
  width: auto;
  margin:0;
  padding:0;
  height: auto;
}

.time-row {
  margin-bottom: 5px;
}

html, body {
  height: 100%;
  margin: 0;
  display: block;
}

.page {
  min-height: 100%;
  margin-bottom: -50px;
}

footer, .push {
  padding: 15px;
  height: 50px;
}

.table-schedule {
  width: 70%;
  margin-bottom: 40px;
}

.table-schedule * td, .table-schedule * th {
  border: 1px solid black;
  border-opacity: 0.7;
}

#page-result * {
  margin: default auto;
  text-align: center;
}

#page-result * th {
  padding: 20px;
}

.info-table * p {
  font-size: 14px;
}

.alert {
  margin-top:20px;
}
