.jumbotron * {
  padding-left: 10%;
  color: white;
}

.jumbotron {
  background-color: #2b3e5e;
}

.container-fluid {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: -50px;
}

#submit-button {
  display: block;
  margin: auto;
  height: 50px;
  width: 200px;
}

.course-row {
  margin-bottom: 20px;
}

.add-section-button, .delete-course-button {
  margin:0;
  padding:0;
}

html, body {
  height: 100%;
  margin: 0;
}

.page {
  min-height: 100%;
}

.footer, .push {
  margin: 15px;
  height: 50px;
}
