.jumbotron * {
  padding-left: 10%;
  color: white;
}

.jumbotron {
  background-color: #2b3e5e;
}

.container-fluid {
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: -50px;
}

#submit-button {
  margin: auto;
  height: 50px;
  width: 200px;
}

.course-row {
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid grey;
}

.add-section-button, .delete-course-button, .delete-section-button {
  margin:0;
  padding:0;
}

.form-control {
  display: inline;
  width: auto;
  margin:0;
  padding:0;
  height: auto;
}

.time-row {
  margin-bottom: 5px;
}

html, body {
  height: 100%;
  margin: 0;
}
table *{
  font-weight: normal;
}
.page {
  min-height: 100%;
}

.footer, .push {
  margin: 15px;
  height: 50px;
}
