<!DOCTYPE html>
<html lang="en">
	<head>
		<title>MakeSchedule</title>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

	  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/static/js/serialize.js"></script>

		<link rel="stylesheet" type="text/css" href="/static/css/styles.css">
	</head>

	<body>
		<div class="course-row row" hidden >
			<div class = "col-sm-3 ">
				<table>
					<tr>
						<th><p>Course Name:</p></th>
						<th><input class="course-name" type = "text" placeholder="Course name"> </th>
					</tr>
					<tr>
						<th><p>Duration:</p></th>
						<th><select class="course-duration form-control">
							<option value="75">usual</option>
							<option value="150">lab</option>
						</select> </th>
					</tr>
					<tr>
						<th><p>Credits Number:</p></th>
						<th><select class="course-credits form-control">
							<option value="1">1</option>
							<option value="2">2</option>
							<option value="3">3</option>
						</select> </th>
					</tr>
					<tr>
						<th><p>Must Take</p></th>
						<th><input type = "checkbox" class = "course-must-take"> </th>
					</tr>
				</table>
				<button class = "delete-course-button btn btn-danger" type = "button"> <span class="glyphicon glyphicon-minus-sign"></span>Delete Course </button>
				<button class = "add-section-button btn btn-info" type = "button"> <span class="glyphicon glyphicon-plus-sign"></span>Add Section</button>

			</div>
			<div class = "col-sm-9	 time-column">

			</div>
		</div>

		<div class = "time-row row" hidden >
			<div class = "col-sm-3">
				Section Code: <input type = "text" class = "section-code" size = "8">
			</div>
			<div class = "col-sm-3">
				TIME1:
				<select class="section-day1 form-control">
					<option value="mon">MON</option>
					<option value="tue">TUE</option>
					<option value="wed">WED</option>
					<option value='thu'>THU</option>
					<option value="fri">FRI</option>
				</select>
				<select class="section-time1 form-control">
					<option value="540">09:00</option>
					<option value="630">10:30</option>
					<option value="780">13:00</option>
					<option value="870">14:30</option>
					<option value="960">16:00</option>
					<option value="1070">17:30</option>
				</select>
			</div>
			<div class = "col-sm-3">
				TIME2:
				<select class="section-day2 form-control">
					<option value="mon">MON</option>
					<option value="tue">TUE</option>
					<option value="wed">WED</option>
					<option value='thu'>THU</option>
					<option value="fri">FRI</option>
				</select>
				<select class="section-time2 form-control">
					<option value="540">09:00</option>
					<option value="630">10:30</option>
					<option value="780">13:00</option>
					<option value="870">14:30</option>
					<option value="960">16:00</option>
					<option value="1070">17:30</option>
				</select>
			</div>
			<div class = "col-sm-3">
				<button class = "delete-section-button btn btn-danger" type = "button"> <span class="glyphicon glyphicon-minus-sign"></span>Delete Section </button>
			</div>
		</div>

		<div class="page">
			<div class = "jumbotron">
				<h1 style ="color:white;">MakeSchedule</h1>
				<p> Create the most optimal course schedule in easy to use interface </p>
			</div>

			<div class="container-fluid">
				<div class = "well">
				<h2> How to use? </h2>
				<p>Hello, dear friend. This is online course schedule generator page.
					Firstly, enter desired number of course. Then add courses that
					you want to take. Add courses in the order of importance. Some courses
					may have different sections, you can add all the sections. After filling
					everything, press 'Generate' button. </p> </div>


				<form id = "course-list" method="POST" action=".">
					<div>
						<p style = "padding-bottom: 5px; display:inline;">Desired number of Credits:</p>
						<input style = "display:inline" type = "text" size = "2" name = "credit-number-min" placeholder="min"> -
						<input type = "text" size = "2" name = "credit-number-max" placeholder="max">
					</div>
				</form>

				<button type = "button" id = "add-course-button" class=" btn btn-info"><span class="glyphicon glyphicon-plus-sign"></span>Add Course</button> <br>
				<button type = "button" class="btn btn-success" form="course-list" id = "submit-button">Generate</button>

			</div>
			<div class="push"> </div>
		</div>

		<footer class="footer">Developed by Alibi Yeslambek and Nazarbek Altybay</footer>
		<script src = "/static/js/scripts.js"></script>

	</body>
</html>
